<%= search_form_for @search, html: {class: "form-inline text-right"} do |f| %>
  <div class="form-group">
    <%= f.label :title_cont, "Book Title" %>
    <%= f.search_field :title_cont, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :publisher_house_name_cont, "Publisher House name" %>
    <%= f.search_field :publisher_house_name_cont, class: 'form-control' %>
  </div>
  <%= f.submit "Search", class: 'btn btn-default' %>
<% end %>

<div class= 'top text-center'>
  <table class="table">
    <thead>
      <tr class= 'row'>
        <th class= 'col-md-4 text-center'>Title</th>
        <th class= 'col-md-4 text-center'>Publisher House</th>
        <th class= 'col-md-4 text-center'>Delete button</th>
      </tr>
    </thead>

    <tbody>
      <% @booksearch.each do |book| %>
        <tr class= 'row'>
         <td class= 'col-md-4'>
            <%= link_to book_path(book) do%>
              <%= book.title %>
            <%end%>
         </td>
          <td class= 'col-md-4'><%= book.publisher_house.name %></td>
          <td class= 'col-md-4'><%= link_to 'Delete', book_path(book), class:'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>